nicky/config.py
logfile
nicky.session
nicky.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
nicky.mp3
gpic.png
